body {
  background-color: darkslategrey;
  color: black;
}

.sudoku-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    overflow: hidden;
  }
  
  .sudoku-grid-item {
    height: 40px;
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    justify-content: center;

    background-color: whitesmoke;
    border: 1px solid black;
    overflow: hidden;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    overflow: hidden;
  }
  
  .grid-item {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border: 0px solid black;
    overflow: hidden;
  }

  .numInput {
    font-size: 30px;
  }

  .clickedsquare {
    background-color: antiquewhite;
  }
  .clickedrow {
    background-color: cornflowerblue;
  }
  .clickedcol {
    background-color: indianred;
  }
  .clickedcell {
    background-color:darkorchid;
  }

  .top {
    border-top: 3px solid black;
  }
  .left {
    border-left: 3px solid black;
  }
  .right {
    border-right: 3px solid black;
  }
  .bottom {
    border-bottom: 3px solid black;
  }
  
  